{% set templatePath = 'vendor/plain' %}
{% set menu = {"Управление":{icon:  "lni lni-user",
                             items: {
                              "Администраторы":  {icon: "lni lni-user", href: "administrators"},
                              "Пользователи":    {icon: "lni lni-user", href: "#"}
                            }},
              "Документы": {icon: "lni lni-library",
                            items: {
                              "Список документов":    {icon: "lni lni-library", href: "#"}
                            }}
              } %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ asset(templatePath ~ '/assets/images/favicon.svg') }}"
      type="image/x-icon"
    />
    <title>{% block title %}Админ{% endblock %}</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="{{ asset(templatePath ~ '/assets/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset(templatePath ~ '/assets/css/lineicons.css') }}"/>
    <link rel="stylesheet" href="{{ asset(templatePath ~ '/assets/css/materialdesignicons.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset(templatePath ~ '/assets/css/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset(templatePath ~ '/assets/css/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset(templatePath ~ '/assets/css/main.css') }}" />
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <!-- ======== sidebar-nav start =========== -->
    <aside class="sidebar-nav-wrapper">
      <div class="navbar-logo">
        <a href="index.html">
          <img src="{{ asset(templatePath ~ '/assets/images/logo/logo.svg') }}" alt="logo" />
        </a>
      </div>
      <nav class="sidebar-nav">
        <ul>
          {% set i=1 %}
          {% for key,value in menu %}
            <li class="nav-item nav-item-has-children">
              <a
                href="#0"
                class="collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#ddmenu_{{ i }}"
                aria-controls="ddmenu_{{ i }}"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="icon">
                  <i class="{{ value.icon }}"></i>
                </span>
                <span class="text">{{ key }}</span>
              </a>
              <ul id="ddmenu_{{ i }}" class="collapse dropdown-nav">
                {% for subKey,item in value.items %}
                <li>
                  <a href={% if item.href!="#"%}"{{ path(item.href) }}"{% else %}"#"{%endif%}">{{ subKey }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% set i=i+1 %}
          {% endfor %}
        </ul>
      </nav>
    </aside>
    <div class="overlay"></div>
    <!-- ======== sidebar-nav end =========== -->

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
      <!-- ========== header start ========== -->
      <header class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-6">
              <div class="header-left d-flex align-items-center">
                <div class="menu-toggle-btn mr-20">
                  <button
                    id="menu-toggle"
                    class="main-btn primary-btn btn-hover"
                  >
                    <i class="lni lni-chevron-left me-2"></i>Меню
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-6">
              <div class="header-right">
                <!-- profile start -->
                <div class="profile-box ml-15">
                  <button
                    class="dropdown-toggle bg-transparent border-0"
                    type="button"
                    id="profile"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <div class="profile-info">
                      <div class="info">
                        <h6>John Doe</h6>
                        <div class="image">
                          <img
                            src="assets/images/profile/profile-image.png"
                            alt=""
                          />
                          <span class="status"></span>
                        </div>
                      </div>
                    </div>
                    <i class="lni lni-chevron-down"></i>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="profile"
                  >
                    <li>
                      <a href="#0">
                        <i class="lni lni-user"></i> View Profile
                      </a>
                    </li>
                    <li>
                      <a href="#0">
                        <i class="lni lni-alarm"></i> Notifications
                      </a>
                    </li>
                    <li>
                      <a href="#0"> <i class="lni lni-inbox"></i> Messages </a>
                    </li>
                    <li>
                      <a href="#0"> <i class="lni lni-cog"></i> Settings </a>
                    </li>
                    <li>
                      <a href="#0"> <i class="lni lni-exit"></i> Sign Out </a>
                    </li>
                  </ul>
                </div>
                <!-- profile end -->
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- ========== header end ========== -->

      <!-- ========== section start ========== -->
      <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="titlemb-30">
                  <h2>{% block titleH1 %}Заголовок{% endblock %}</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      {% block breadcrumbs %}
                        <li class="breadcrumb-item">
                          <a href="#0">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                          Page
                        </li>
                      {% endblock %}
                    </ol>
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
        </div>
        <!-- end container -->
      </section>
      <!-- ========== section end ========== -->
      {% block content %}{% endblock %}

      <!-- ========== footer start =========== -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </footer>
      <!-- ========== footer end =========== -->
    </main>
    <!-- ======== main-wrapper end =========== -->

    <!-- ========= All Javascript files linkup ======== -->
    <script src="{{ asset(templatePath ~ '/assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset(templatePath ~ '/assets/js/Chart.min.js') }}"></script>
    <script src="{{ asset(templatePath ~ '/assets/js/dynamic-pie-chart.js') }}"></script>
    <script src="{{ asset(templatePath ~ '/assets/js/moment.min.js') }}"></script>
    <script src="{{ asset(templatePath ~ '/assets/js/fullcalendar.js') }}"></script>
    <script src="{{ asset(templatePath ~ '/assets/js/jvectormap.min.js') }}"></script>
    <script src="{{ asset(templatePath ~ '/assets/js/world-merc.js') }}"></script>
    <script src="{{ asset(templatePath ~ '/assets/js/polyfill.js') }}"></script>
    <script src="{{ asset(templatePath ~ '/assets/js/main.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
